# @Author: Guan Gui <guiguan>
# @Date:   2016-01-21T00:44:03+11:00
# @Email:  root@guiguan.net
# @Last modified by:   guiguan
# @Last modified time: 2016-01-21T22:02:34+11:00


# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor:not(.mini)':
  'shift-cmd-H': 'file-header:add'
