
REM @Author: {{author}}
REM @Date:   {{create_time}}
REM @Email:  {{email}}
REM @Project: {{project_name}}
REM @Filename: {{filename}}
REM @Last modified by:   {{last_modified_by}}
REM @Last modified time: {{last_modified_time}}
REM @License: {{license}}
REM @Copyright: {{copyright}}
